@model FreelancerMarketplace.Models.FreelancerViewModel

@{
    ViewBag.Title = "ViewProfile";
}



<body>

    

        <!-- Titlebar
        ================================================== -->
        <div class="single-page-header freelancer-header" data-background-image="images/single-freelancer.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-page-header-inner">
                            <div class="left-side">
                                <div class="header-image freelancer-avatar"><img src="@Url.Content(Model.Person.ProfilePicture)" alt=""></div>
                                <div class="header-details">
                                    <h3>@Model.Person.FirstName @Model.Person.LastName <span>@Model.Freelancer.ProfessionalTitle</span></h3>
                                    <ul>
                                        
                                        <li> @Model.Person.Nationality</li>
                                        <li>@Model.AspNetUser.Email</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Page Content
        ================================================== -->
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div class="col-xl-8 col-lg-8 content-right-offset">

                    <!-- Page Content -->
                    <div class="single-page-section">
                        <h3 class="margin-bottom-25">About Me</h3>
                        <p>@Model.Freelancer.ProfessionalOverview</p>
                        <br />
                        <!-- Widget -->
                        <div>
                            <h3 class="margin-bottom-25">Skills</h3>
                            <div class="task-tags">
                                <span>iOS</span>
                                <span>Android</span>
                                <span>mobile apps</span>
                                <span>design</span>
                                <span>Python</span>
                                <span>Flask</span>
                                <span>PHP</span>
                                <span>WordPress</span>
                            </div>
                        </div>
                    </div>

                    </div>


                <!-- Sidebar -->
                <div class="col-xl-4 col-lg-4">
                    <div class="sidebar-container">

                        

                        <!-- Button -->
                        <a href="/Admin/CancelRegistration/@Model.Person.PersonId" class="apply-now-button margin-bottom-50">Cancel Registration</a>


                    </div>



                    





                </div>
            </div>

        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-15"></div>
    <!-- Spacer / End-->
    <!-- Wrapper / End -->
    <!-- Make an Offer Popup
    ================================================== -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Make an Offer</a></li>
            </ul>

            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Discuss your project with David</h3>
                    </div>

                    <!-- Form -->
                    <form method="post">

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-account-circle"></i>
                            <input type="text" class="input-text with-border" name="name" id="name" placeholder="First and Last Name" />
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Email Address" />
                        </div>

                        <textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

                        <div class="uploadButton margin-top-25">
                            <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Add Attachments</label>
                            <span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
                        </div>

                    </form>

                    <!-- Button -->
                    <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

                </div>
                <!-- Login -->
                <div class="popup-tab-content" id="loginn">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Discuss Your Project With Tom</h3>
                    </div>

                    <!-- Form -->
                    <form method="post" id="make-an-offer-form">

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-account-circle"></i>
                            <input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required />
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required />
                        </div>

                        <textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

                        <div class="uploadButton margin-top-25">
                            <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple />
                            <label class="uploadButton-button" for="upload-cv">Add Attachments</label>
                            <span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
                        </div>

                    </form>

                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

                </div>

            </div>
        </div>
    </div>
    <!-- Make an Offer Popup / End -->
    <!-- Scripts
    ================================================== -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/mmenu.min.js"></script>
    <script src="js/tippy.all.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/bootstrap-slider.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/snackbar.js"></script>
    <script src="js/clipboard.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() {
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	});
});

// Snackbar for "place a bid" button
$('#snackbar-place-bid').click(function() {
	Snackbar.show({
		text: 'Your bid has been placed!',
	});
});


// Snackbar for copy to clipboard button
$('.copy-url-button').click(function() {
	Snackbar.show({
		text: 'Copied to clipboard!',
	});
});
    </script>

</body>
</html>
