@model IEnumerable<FreelancerMarketplace.Models.EmployerViewModel>

@{
    ViewBag.Title = "ViewEmployers";
}

<h2>ViewEmployers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>





<center><h2>Registered Freelancers</h2></center>

@foreach (var item in Model)
{
    <div class="container">
        <!-- Freelancers List Container -->
        <div class="freelancers-container freelancers-list-layout margin-top-35">

            <!--Freelancer -->
            <div class="freelancer">

                <!-- Overview -->
                <div class="freelancer-overview">
                    <div class="freelancer-overview-inner">

                        <!-- Bookmark Icon -->
                        <span class="bookmark-icon"></span>

                        <!-- Avatar -->
                        <div class="freelancer-avatar">

                            <a href="single-freelancer-profile.html"><img src="@Url.Content(item.Person.ProfilePicture)" alt="Image not available"></a>
                        </div>

                        <!-- Name -->
                        <div class="freelancer-name">
                            <h4><a href="#">@Html.DisplayFor(modelItem => item.Person.FirstName) @Html.DisplayFor(modelItem => item.Person.LastName)</a></h4>
                            <span>@Html.DisplayFor(modelItem => item.Company.CompanyName)</span>
                            <!-- Rating -->
                            <div class="freelancer-rating">
                                <strong>Email: </strong>
                                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Details -->
                <div class="freelancer-details">
                    <div class="freelancer-details-list">
                        <ul>
                            <li>Location <strong><i class="icon-material-outline-location-on"></i> @Html.DisplayFor(modelItem => item.Person.Nationality)</strong></li>
                            <li>Phone number <strong>@Html.DisplayFor(modelItem => item.AspNetUser.PhoneNumber)</strong></li>
                            <li></li>
                        </ul>
                    </div>
                    <a href="/Admin/ViewFreelancerProfile/@item.Person.PersonId" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>
            <!-- Freelancer / End -->

        </div>
    </div>
}
<br />
<br />
<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />

