@model FreelancerMarketplace.Models.Freelancer

@{
    /**/

    ViewBag.Title = "AddInfo";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}


<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Hireo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/colors/blue.css">

</head>



<p>





</p>
<center><h2>Tell us more about you</h2></center>

@using (Html.BeginForm("AddInfo", "Freelancers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <p>

    </p>
    <p>



    </p>
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <div class="form-horizontal">
                <div class="submit-field">
                    <h5> Please upload your professional portrait</h5>
                </div>

                <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                        <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                        <div class="upload-button"></div>
                        <input class="file-upload" name ="ImageFile" type="file" accept="image/*" />
                    </div>
                </div>


                <div class="col">
                    <p>





                    </p>
                    <div class="col-xl-6">
                        <div class="row">

                            <div class="col-xl-6">
                                <div class="submit-field">

                                    <input type="text" class="with-border" name="FirstName" placeholder="First name">
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="submit-field">

                                    <input type="text" class="with-border" name="LastName" placeholder="Last name">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Gender </h5>
                    </div>
                    <!-- Gender Type -->
                    <div class="account-type">
                        <div>
                            <input type="radio" name="Gender" id="freelancer-radio" value="Male" class="account-type-radio" checked />
                            <label for="freelancer-radio" class="ripple-effect-dark"> Male</label>
                        </div>

                        <div>
                            <input type="radio" name="Gender" id="employer-radio" value="Female" class="account-type-radio" />
                            <label for="employer-radio" class="ripple-effect-dark"> Female</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="submit-field">
                        <h5> Add a Professional Title </h5>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProfessionalTitle, new { htmlAttributes = new { @class = "form-control input-text with-border" } })
                        @Html.ValidationMessageFor(model => model.ProfessionalTitle, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="submit-field">
                        <h5> Write a Professional Overview</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ProfessionalOverview, 10, 55, new { placeholder = "Use this space to show clients you have the skills and experience they're looking for!", @class = "form-control input-text with-border" })
                        @Html.ValidationMessageFor(model => model.ProfessionalOverview, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="col-md-10">
                    <div class="submit-field">
                        <h5>Nationality</h5>
                        <select data-size="7" title="Select Job Type" data-live-search="true" name="Nationality">
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Curaçao">Curaçao</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guernsey">Guernsey</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="Russian">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Turkey">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="GB">United Kingdom</option>
                            <option value="United States" selected>United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="Yemen">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-10">
                    <div class="submit-field">
                        <h5>Address <i class="help-icon" data-tippy-placement="right" title="Your current official address"></i></h5>
                        <input type="text" class="form-control" name="Address" />
                        <div class="clearfix"></div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="submit-field">
                        <h5> Choose the category best relevant to you</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, "--Select Category--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="submit-field">
                        <h5> Your Experience in that Category</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("ExperienceInCategory", null, "--Select Experience in  above Category--", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExperienceInCategory, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="col-md-10">
                    <div class="submit-field">
                        <h5>Skills <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>
                        <textarea class="form-control" rows="3" placeholder="Enter skills separated with commas without spaces e.g Angular,Laravel" name="Skills"></textarea>
                        <div class="clearfix"></div>
                    </div>
                </div>





                <div class="form-group">
                    <div class="submit-field">
                        <h5> What type of Jobs do you want?</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("JobType", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Done" class="btn btn-default" />
                    </div>
                </div>
            </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Dashboard")
</div>

<!-- Scripts
================================================== -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>




<!-- Google Autocomplete -->
<script>
    function initAutocomplete() {
        var options = {
            types: ['(cities)'],
            // componentRestrictions: {country: "us"}
        };

        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input, options);

        if ($('.submit-field')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo("#autocomplete-container");
            }, 300);
        }
    }
</script>

<!-- Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>



