@model FreelancerMarketplace.Freelancer

@{
    /**/

    ViewBag.Title = "AddInfo";
}


<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Hireo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css">

</head>


<p>





</p>
<center><h2>Tell us more about you</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>

    </p>
    <p>



    </p>
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <div class="form-horizontal">
                <div class="submit-field">
                    <h5> Please upload your professional portrait</h5>
                </div>

                <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Upload Picture">
                        <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
                        <div class="upload-button"></div>
                        <input class="file-upload" type="file" accept="image/*" />
                    </div>
                </div>

                <div class="col">
                    <p>





                    </p>
                    <div class="col-xl-6">
                        <div class="row">

                            <div class="col-xl-6">
                                <div class="submit-field">

                                    <input type="text" class="with-border" value="First name">
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="submit-field">

                                    <input type="text" class="with-border" value="Last name">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Gender </h5>
                    </div>
                    <!-- Gender Type -->
                    <div class="account-type">
                        <div>
                            <input type="radio" name="Gender" id="freelancer-radio" value="Male" class="account-type-radio" checked />
                            <label for="freelancer-radio" class="ripple-effect-dark"> Male</label>
                        </div>

                        <div>
                            <input type="radio" name="Gender" id="employer-radio" value="Female" class="account-type-radio" />
                            <label for="employer-radio" class="ripple-effect-dark"> Female</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="submit-field">
                        <h5> Add a Professional Title </h5>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProfessionalTitle, new { htmlAttributes = new { @class = "form-control input-text with-border" } })
                        @Html.ValidationMessageFor(model => model.ProfessionalTitle, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="submit-field">
                        <h5> Write a Professional Overview</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ProfessionalOverview, 10, 55, new { placeholder = "Use this space to show clients you have the skills and experience they're looking for!", @class = "form-control input-text with-border" })
                        @Html.ValidationMessageFor(model => model.ProfessionalOverview, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>Nationality</h5>
                        <select class="selectpicker with-border" data-size="7" title="Select Job Type" data-live-search="true">
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BG">Bulgaria</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="KH">Cambodia</option>
                            <option value="CM">Cameroon</option>
                            <option value="CA">Canada</option>
                            <option value="CV">Cape Verde</option>
                            <option value="KY">Cayman Islands</option>
                            <option value="CO">Colombia</option>
                            <option value="KM">Comoros</option>
                            <option value="CG">Congo</option>
                            <option value="CK">Cook Islands</option>
                            <option value="CR">Costa Rica</option>
                            <option value="CI">Côte d'Ivoire</option>
                            <option value="HR">Croatia</option>
                            <option value="CU">Cuba</option>
                            <option value="CW">Curaçao</option>
                            <option value="CY">Cyprus</option>
                            <option value="CZ">Czech Republic</option>
                            <option value="DK">Denmark</option>
                            <option value="DJ">Djibouti</option>
                            <option value="DM">Dominica</option>
                            <option value="DO">Dominican Republic</option>
                            <option value="EC">Ecuador</option>
                            <option value="EG">Egypt</option>
                            <option value="GP">Guadeloupe</option>
                            <option value="GU">Guam</option>
                            <option value="GT">Guatemala</option>
                            <option value="GG">Guernsey</option>
                            <option value="GN">Guinea</option>
                            <option value="GW">Guinea-Bissau</option>
                            <option value="GY">Guyana</option>
                            <option value="HT">Haiti</option>
                            <option value="HN">Honduras</option>
                            <option value="HK">Hong Kong</option>
                            <option value="HU">Hungary</option>
                            <option value="IS">Iceland</option>
                            <option value="IN">India</option>
                            <option value="ID">Indonesia</option>
                            <option value="NO">Norway</option>
                            <option value="OM">Oman</option>
                            <option value="PK" selected>Pakistan</option>
                            <option value="PW">Palau</option>
                            <option value="PA">Panama</option>
                            <option value="PG">Papua New Guinea</option>
                            <option value="PY">Paraguay</option>
                            <option value="PE">Peru</option>
                            <option value="PH">Philippines</option>
                            <option value="PN">Pitcairn</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="QA">Qatar</option>
                            <option value="RE">Réunion</option>
                            <option value="RO">Romania</option>
                            <option value="RU">Russian Federation</option>
                            <option value="RW">Rwanda</option>
                            <option value="SZ">Swaziland</option>
                            <option value="SE">Sweden</option>
                            <option value="CH">Switzerland</option>
                            <option value="TR">Turkey</option>
                            <option value="TM">Turkmenistan</option>
                            <option value="TV">Tuvalu</option>
                            <option value="UG">Uganda</option>
                            <option value="UA">Ukraine</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US">United States</option>
                            <option value="UY">Uruguay</option>
                            <option value="UZ">Uzbekistan</option>
                            <option value="YE">Yemen</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                    </div>
                </div>







                <div class="form-group">
                    <div class="submit-field">
                        <h5> Choose the category best relevant to you</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="submit-field">
                        <h5> Your Experience in that Category</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("ExperienceInCategory", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ExperienceInCategory, "", new { @class = "text-danger" })
                    </div>
                </div>





                <div class="form-group">
                    <div class="submit-field">
                        <h5> What type of Jobs do you want?</h5>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("JobType", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.JobType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Scripts
================================================== -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.0.min.js"></script>
<script src="js/mmenu.min.js"></script>
<script src="js/tippy.all.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/bootstrap-slider.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script src="js/snackbar.js"></script>
<script src="js/clipboard.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/custom.js"></script>




<!-- Google Autocomplete -->
<script>
    function initAutocomplete() {
        var options = {
            types: ['(cities)'],
            // componentRestrictions: {country: "us"}
        };

        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input, options);

        if ($('.submit-field')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo("#autocomplete-container");
            }, 300);
        }
    }
</script>

<!-- Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"></script>



