@model IEnumerable<FreelancerMarketplace.Models.Job>

@{
    ViewBag.Title = "AvailableJobs";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}

@using (Html.BeginForm())
{
    <body class="gray">

        <!-- Wrapper -->
        <div id="wrapper">


            <div class="clearfix"></div>
            <!-- Header Container / End -->
            <!-- Spacer -->
            <!-- Spacer / End-->
            <!-- Page Content
            ================================================== -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="sidebar-container">

                            <!-- Location -->
                            <div class="sidebar-widget">
                                <h3>Location</h3>
                                <div class="input-with-icon">
                                    <div id="autocomplete-container">
                                        @*<input id="autocomplete-input" type="text" placeholder="Location">*@
                                        <select data-size="7" title="Select Job Type" data-live-search="true" name="Location">
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Curaçao">Curaçao</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guernsey">Guernsey</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan" selected>Pakistan</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Panama">Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="RE">Réunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="Russian">Russian Federation</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="GB">United Kingdom</option>
                                            <option value="United States">United States</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                    </div>
                                    <i class="icon-material-outline-location-on"></i>
                                </div>
                            </div>


                            <!-- Category -->
                            <div class="sidebar-widget">
                                <h3>Category</h3>
                                @Html.DropDownList("CategoryId", null, "--Select Category--", htmlAttributes: new { @class = "form-control" })
                            </div>




                            <!-- Budget -->
                            <div class="sidebar-widget">
                                <h3>Price</h3>
                                <div class="margin-top-55"></div>

                                <!-- Range Slider -->
                                <input class="range-slider" type="text" value="" data-slider-currency="PKR" data-slider-min="10" data-slider-max="10000" data-slider-step="25" data-slider-value="[10,2500]" name="PaymentRange" />
                            </div>

                            <input type="submit" value="Apply search filters" class="button ripple-effect move-on-hover full-width margin-top-30" />

                            <div class="clearfix"></div>

                        </div>
                    </div>










                    <div class="col-xl-9 col-lg-8 content-left-offset">



                        <!-- Tasks Container -->
                        <div class="tasks-list-container tasks-grid-layout margin-top-35">







                            @foreach (var item in Model)
                            {
                                <!-- Task -->
                                <a href="@Url.Action("Bid", "Freelancers", new { id = item.JobId })" class="task-listing">

                                    <!-- Job Listing Details -->
                                    <div class="task-listing-details">

                                        <!-- Details -->
                                        <div class="task-listing-description">
                                            <h3 class="task-listing-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
                                            <ul class="task-icons">
                                                <li><i class="icon-material-outline-access-time"></i> @GetPrettyDate(item.TimePosted)</li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="task-listing-bid">
                                        <div class="task-listing-bid-inner">
                                            <div class="task-offers">
                                                <strong> @Html.DisplayFor(modelItem => item.MinPayment) PKR - @Html.DisplayFor(modelItem => item.MaxPayment) PKR</strong>

                                            </div>
                                            <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
                                        </div>
                                    </div>
                                </a>

                            }

                        </div>
                        <!-- Tasks Container / End -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Wrapper / End -->
    </body>
}




@functions {

    static string GetPrettyDate(DateTime d)
    {
        // 1.
        // Get time span elapsed since the date.
        TimeSpan s = DateTime.Now.Subtract(d);

        // 2.
        // Get total number of days elapsed.
        int dayDiff = (int)s.TotalDays;

        // 3.
        // Get total number of seconds elapsed.
        int secDiff = (int)s.TotalSeconds;

        // 4.
        // Don't allow out of range values.
        if (dayDiff < 0 || dayDiff >= 31)
        {
            return null;
        }

        // 5.
        // Handle same-day times.
        if (dayDiff == 0)
        {
            // A.
            // Less than one minute ago.
            if (secDiff < 60)
            {
                return "just now";
            }
            // B.
            // Less than 2 minutes ago.
            if (secDiff < 120)
            {
                return "1 minute ago";
            }
            // C.
            // Less than one hour ago.
            if (secDiff < 3600)
            {
                return string.Format("{0} minutes ago",
                    Math.Floor((double)secDiff / 60));
            }
            // D.
            // Less than 2 hours ago.
            if (secDiff < 7200)
            {
                return "1 hour ago";
            }
            // E.
            // Less than one day ago.
            if (secDiff < 86400)
            {
                return string.Format("{0} hours ago",
                    Math.Floor((double)secDiff / 3600));
            }
        }
        // 6.
        // Handle previous days.
        if (dayDiff == 1)
        {
            return "yesterday";
        }
        if (dayDiff < 7)
        {
            return string.Format("{0} days ago",
                dayDiff);
        }
        if (dayDiff < 31)
        {
            return string.Format("{0} weeks ago",
                Math.Ceiling((double)dayDiff / 7));
        }
        return null;
    }
}
