@model FreelancerMarketplace.Models.JobViewModel

@{
    ViewBag.Title = "Bid";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body>

        <!-- Wrapper -->
        <div id="wrapper">



            <!-- Titlebar
    ================================================== -->
            <div class="single-page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-page-header-inner">
                                <div class="left-side">

                                    <div class="header-details">
                                        <h3> @Html.DisplayFor(model => model.Job.Title)</h3>
                                        <h5>About the Employer</h5>
                                        <ul>

                                            <li> Employer's Name: @ViewBag.Name</li>
                                            <li> @ViewBag.Nationality</li>
                                            <li><div class="verified-badge-with-title">Verified</div></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right-side">
                                    <div class="salary-box">
                                        <div class="salary-type">Project Budget</div>
                                        <div class="salary-amount">PKR @Html.DisplayFor(model => model.Job.MinPayment) - PKR @Html.DisplayFor(model => model.Job.MaxPayment)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Page Content
    ================================================== -->
            <div class="container">
                <div class="row">

                    <!-- Content -->
                    <div class="col-xl-8 col-lg-8 content-right-offset">

                        <!-- Description -->
                        <div class="single-page-section">
                            <h3 class="margin-bottom-25">Project Description</h3>
                            @Html.DisplayFor(model => model.Job.Description)
                        </div>

                        <!-- Atachments -->
                        <div class="single-page-section">
                            <h3>Attachment</h3>
                            <div class="attachments-container">
                                <a href="@Url.Action("Download", "Freelancers", new { id = Model.Job.AttachmentID })" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>
                            </div>
                        </div>

                        <!-- Skills -->
                        <div class="single-page-section">
                            <h3>Skills Required</h3>
                            <div class="task-tags">
                                <span>@Html.DisplayFor(model => model.Job.Skill.SkillName)</span>
                                @foreach (var item in ViewBag.OtherSkills)
                                {
                                    <span>@item</span>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>



                    </div>


                    <!-- Sidebar -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="sidebar-container">
                           
                                <a href="/Freelancers/SendMessage/@Model.Job.EmployerID" class=" apply-now-button margin-bottom-50">Contact Employer</a>
                                <a href="/Freelancers/ViewBids/@Model.Job.JobId" class=" apply-now-button margin-bottom-50">Other Freelancers Bids</a>
                            
                            <div class="countdown green margin-bottom-35">Deadline: @Html.DisplayFor(model => model.Job.Deadline)</div>


                            <div class="sidebar-widget">
                                <div class="bidding-widget">
                                    <div class="bidding-headline"><h3>Bid on this job!</h3></div>
                                    <div class="bidding-inner">

                                        <!-- Headline -->
                                        <span class="bidding-detail">Set your <strong>minimal rate</strong></span>

                                        <!-- Price Slider -->
                                        <div class="bidding-value">PKR <span id="biddingVal"></span></div>
                                        <input class="bidding-slider" type="text" value="" data-slider-handle="custom" data-slider-currency="PKR" data-slider-min=@Model.Job.MinPayment data-slider-max=@Model.Job.MaxPayment data-slider-value="auto" data-slider-step="2" data-slider-tooltip="hide" name="BidAmount" />

                                        <!-- Headline -->
                                        <span class="bidding-detail margin-top-30">Set your <strong>delivery time</strong></span>

                                        <!-- Fields -->
                                        <div class="bidding-fields">

                                            <div class="bidding-field">

                                                @Html.EditorFor(model => model.Bid.DeliveryTime, new { @class = "datepicker form-control", placeholder = "Enter Delivery Time here..." })

                                            </div>
                                        </div>

                                        <!-- Button -->
                                        @*<button id="snackbar-place-bid" class="button ripple-effect move-on-hover full-width margin-top-30"><span>Place a Bid</span></button>*@
                                        <input type="submit" value="Place a Bid" class="button ripple-effect move-on-hover full-width margin-top-30" />

                                    </div>
                                    @using Microsoft.AspNet.Identity
                                    @if (!Request.IsAuthenticated)
                                    {
                                        <div class="bidding-signup">Don't have an account? <a href="@Url.Action("Register", "Account")">Sign Up</a></div>
                                    }
                                </div>
                            </div>


                        </div>

                    </div>
                </div>


                <!-- Spacer -->
                <div class="margin-top-15"></div>
                <!-- Spacer / End-->



            </div>
            <!-- Wrapper / End -->
        </div>


    </body>
}
    @section Scripts {

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">
            $(function () {
                $('.datepicker').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>

    }
