@model IEnumerable<FreelancerMarketplace.Freelancers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionalTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionalOverview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lookup.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lookup1.value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionalOverview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lookup1.value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
