@model IEnumerable<FreelancerMarketplace.Models.Bid>

@{
    ViewBag.Title = "MyBids";
    Layout = "~/Views/Shared/_LayoutFreelancer.cshtml";
}
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Dashboard Container -->
        <div class="dashboard-container">


            <!-- Dashboard Content
            ================================================== -->
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">

                    <!-- Dashboard Headline -->
                    <div class="dashboard-headline">
                        <h3>My Active Bids</h3>


                    </div>

                    <!-- Row -->
                    <div class="row">

                        <!-- Dashboard Box -->
                        <div class="col-xl-12">
                            <div class="dashboard-box margin-top-0">

                                <!-- Headline -->
                                <div class="headline">
                                    <h3><i class="icon-material-outline-gavel"></i> Bids List</h3>
                                </div>

                                <div class="content">
                                    <ul class="dashboard-box-list">
                                        @{ int i = 0;}
                                        @foreach (var item in Model)
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">

                                                            @{ string title = ViewBag.JobTitle[i];}
                                                            @{ i += 1;}
                                                            <h3 class="job-listing-title"><a href="/Freelancers/JobDetails/@item.JobID">@title</a></h3>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul class="dashboard-task-info">
                                                    <li><strong>PKR @Html.DisplayFor(modelItem => item.PaymentAmount)</strong><span>Payment Amount</span></li>
                                                    <li><strong>@Html.DisplayFor(modelItem => item.DeliveryTime)</strong><span>Delivery Date</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="/Freelancers/EditBid/@item.BidId" class="button dark ripple-effect ico" title="Edit/Cancel Bid" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                                    <a href="/Freelancers/CancelBid/@item.BidId" class="button red ripple-effect ico" title="Cancel Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>

                                                </div>
                                            </li>


                                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <!--Tabs -->
                                                <div class="sign-in-form">

                                                    <ul class="popup-tabs-nav">
                                                        <li><a href="#tab">Edit Bid</a></li>
                                                        <li><a href="#Remove">Remove Bid</a></li>
                                                    </ul>

                                                    <div class="popup-tabs-container">

                                                        <!-- Tab -->
                                                        <div class="popup-tab-content" id="tab">

                                                            <!-- Bidding -->
                                                            <div class="bidding-widget">
                                                                <!-- Headline -->
                                                                <span class="bidding-detail">Set your <strong>minimal rate</strong></span>

                                                                <!-- Price Slider -->
                                                                @*<div class="bidding-value">PKR<span id="biddingVal"></span></div>
                                                                    <input class="bidding-slider" type="text" value="" data-slider-handle="custom" data-slider-currency="PKR" data-slider-min=@item.Job.MinPayment data-slider-max=@item.Job.MaxPayment data-slider-value="auto" data-slider-step="1" data-slider-tooltip="hide" name="BidAmount" />*@
                                                                @Html.TextBoxFor(modelItem => item.PaymentAmount, new { @class = "bidding-slider" })
                                                                <!-- Headline -->
                                                                <span class="bidding-detail margin-top-30">Set your <strong>delivery time</strong></span>

                                                                @Html.EditorFor(modelItem => item.DeliveryTime, new { @class = "datepicker form-control", placeholder = "Enter Delivery Time here...", name = "Date" })
                                                            </div>

                                                            <!-- Button -->
                                                            <button onclick="location.href='@Url.Action("EditBid", "Freelancers", new { id = item.BidId})'" class="button full-width button-sliding-icon ripple-effect" type="submit">Save Changes <i class="icon-material-outline-arrow-right-alt"></i></button>

                                                        </div>
                                                        

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Edit Bid Popup / End -->

                                        }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper / End -->

</body>