@model FreelancerMarketplace.Models.BiddersViewModel

@{
    ViewBag.Title = "ManageBidders";
}

<!-- Dashboard Container -->
<div class="dashboard-container">



    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Manage Bidders</h3>
                <span class="margin-top-7">Bids for <a href="/Employer/JobDetails/@Model.Job.JobId">@Model.Job.Title</a></span>

                <!-- Breadcrumbs -->

            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-supervisor-account"></i> @Model.Bids.Count() Bidders</h3>

                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                @for (int i = 0; i < Model.Bids.Count(); i++)
                                {
                                    <li>
                                        <!-- Overview -->
                                        <div class="freelancer-overview manage-candidates">
                                            <div class="freelancer-overview-inner">

                                                <!-- Avatar -->
                                                <div class="freelancer-avatar">

                                                    <a href="/Employer/FreelancerProfile/@Model.People.ElementAt(i).PersonId"><img src="@Url.Content(Model.People.ElementAt(i).ProfilePicture)" alt=""></a>
                                                </div>

                                                <!-- Name -->
                                                <div class="freelancer-name">
                                                    <h4><a href="/Employer/FreelancerProfile/@Model.People.ElementAt(i).PersonId">@Model.People.ElementAt(i).FirstName @Model.People.ElementAt(i).LastName <img class="flag" src="images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>

                                                    <!-- Details -->
                                                    <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> @Model.AspNetUsers.ElementAt(i).Email </a></span>



                                                    <!-- Bid Details -->
                                                    <ul class="dashboard-task-info bid-info">
                                                        <li><strong>PKR @Model.Bids.ElementAt(i).PaymentAmount</strong><span>Payment Amount</span></li>
                                                        <li><strong>@Model.Bids.ElementAt(i).DeliveryTime</strong><span>Delivery Date</span></li>
                                                    </ul>

                                                    <!-- Buttons -->
                                                    <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                        <a href="@Url.Action("AwardProject", "Employer", new { id = Model.Bids.ElementAt(i).BidId})" class=" button ripple-effect"><i class="icon-material-outline-check"></i> Accept Offer</a>
                                                        <a href="/Employer/SendMessage/@Model.People.ElementAt(i).PersonId" class=" button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
                                                        <a href="/Employer/UnAssignProject/@Model.Bids.ElementAt(i).BidId" class="button gray ripple-effect ico" title="Remove Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>


                                    


                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->
            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Hireo</strong>. All Rights Reserved.

                </div>
                <!-- Footer / End -->

            </div>
        </div>
        <!-- Dashboard Content / End -->

    </div>
    <!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


